# =====================================
# APP
# =====================================

NODE_ENV=development
PORT=4000

# Frontend permitido (se pueden separar varios por coma)
CLIENT_URL=http://localhost:5173

# =====================================
# BASE DE DATOS (LOCAL)
# =====================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# =====================================
# BASE DE DATOS (PRODUCCIÓN)
# =====================================

DATABASE_URL=

# =====================================
# JWT
# =====================================

JWT_SECRET=
JWT_EXPIRES_IN=8h